body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("./black-hexagon-background-127018-442994-1515128.png");
    background-size: cover;
}

.stopwatch {
    text-align: center;
}

.display {
    font-size: 3rem;
    margin-bottom: 20px;
    color: blanchedalmond;
    background-color: rgb(66, 66, 99);
    border-radius: 50%;
}

display:active {
    background-color: rgb(255, 0, 0);
}

button {
    font-size: 1rem;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    background-color: chartreuse;
}